body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
    margin: auto;
}

/* START NAVIGATION BAR */
.nav {
    position: sticky;
}
ul {
    list-style-type: none;
    margin: 50;
    padding: 50;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: rgb(206, 117, 81);
  }
  
.active {
    background-color: coral;
    font-weight: bold ;
  }
/* END NAVIGATION BAR */

img{
    display: block;
     margin-right: auto;
     margin-left: auto;
    width: 300px;
}
.about{
    text-align: center;
    color: whitesmoke;
    padding-left: 300px;
    padding-right: 300px;
}
.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }