body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
    margin: auto;
}
* {box-sizing: border-box;}

/* START NAVIGATION BAR */
.nav {
    position: sticky;
}
ul {
    list-style-type: none;
    margin: 50;
    padding: 50;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: rgb(206, 117, 81);
  }
  
.active {
    background-color: coral;
    font-weight: bold ;
  }
/* END NAVIGATION BAR */

.header{
    text-align: center;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 3% 15%;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .facebook{display:flex;flex-wrap:wrap}
  .href{
    text-decoration:none;
    border:0;
    width:50px;
    height:50px;
    padding:2px;
    margin:5px;
    color:white;
    border-radius:35%;
    background-color:#bb0000;
  }
  .niftybutton-facebook{
    display:block;fill:currentColor
  }
 
  .instagram{display:flex;flex-wrap:wrap}
  .niftybutton-instagram{
    display:block;fill:currentColor
  }
  .fa {
    padding: 2px;
    font-size: 70px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin:5px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 35%;
    text-align: center;
  }

  .footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }