body{
    margin: auto;
    background-color: brown;
}
/* START NAVIGATION BAR */
.nav {
    position: sticky;
}
ul {
    list-style-type: none;
    margin: 50;
    padding: 50;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: rgb(206, 117, 81);
  }
  
.active {
    background-color: coral;
    font-weight: bold ;
  }
/* END NAVIGATION BAR */
.video{
    position: relative;
    margin: 45px 34%; 
  }

h1{
     color: white;
     text-align: center;
     margin: 10px;
}
/* START OF TABLE CSS */
table,
th,
td {
    border: 1px solid lightgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px;
    width: 40%;
}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.label{
    font-weight: bold;
    width: 30%;
    color: rgb(236, 217, 217);
}
.description{
    width: 30%;
    color: rgb(236, 217, 217);
    border-style: hidden solid solid solid;
}
button{
    background:linear-gradient(#6851ee,#cd6d14);
    color: white;
    border-radius: 20px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
}
/* END */
.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }